<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.annguo.clientsoft.user.dao.UserDao">
 
    <resultMap id="BaseResultMap" type="com.annguo.clientsoft.user.entity.User">
        <result column="ID" jdbcType="INTEGER" property="id" />
        <result column="USER" jdbcType="VARCHAR" property="user" />
        <result column="NAME" jdbcType="VARCHAR" property="name" />
        <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    </resultMap>
 
    <select id="selectUser" resultMap="BaseResultMap" >
        SELECT * FROM USER
    </select>
 
</mapper>